<phpunit bootstrap="travis-splint-0.0.7/index.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true">
	<testsuites>
		<testsuite name="Splint Test Suite">
			<file>travis-splint-0.0.7/application/splints/francis94c/ci-rest/phpunit/RESTTest.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="./build/logs/clover.xml"/>
	</logging>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./travis-splint-0.0.7/application/splints/francis94c/ci-rest</directory>
			<exclude>
				<file>travis-splint-0.0.7/application/splints/francis94c/ci-rest/phpunit/RESTTest.php</file>
				<file>travis-splint-0.0.7/application/splints/francis94c/ci-rest/phpunit/config/rest.php</file>
			</exclude>
		</whitelist>
  </filter>
</phpunit>
